[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
