{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
        <div class="container">
          <div class="blog-post">
          <h3>
            <strong><a href="{{ .URL }}">{{ .Site.Data.pub.title }}</a></strong>
          </h3>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="blogpost">
              {{ range $i, $el := .Site.Data.pub.source }}
                <h3>{{ .title }}</h3>
                <p><em>{{ .authors }}</em></p>
                <p><em>{{ .conference }}</em></p>
                <p><strong>Abstract</strong></p>
                <p>{{ .abstract }}</p>
                <a href="/pub/{{ .paper }}" class="btn btn-default">Author version</a>
                <a href="/pub/{{ .presentation }}" class="btn btn-default">Presentation</a>
              {{ end }}
              </div>
            </div>
          </div>
        </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
