{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
	{{ $.Scratch.Set "path" .Params.featuredpath }}

	{{ if and (isset .Params "featured") (ne .Params.featuredpath "") }}
		{{ $.Scratch.Set "structType" "page" }}
		{{ partial "img-path" . }}
		{{ $path := $.Scratch.Get "path" }}
		
		{{ if and (isset .Params "featuredpos") (ne .Params.featuredpos "") }}
			<span class="image {{ .Params.featuredpos }}">
				<img src="{{ $path }}/{{ .Params.featured }}" alt="{{ .Params.featuredalt }}" />
			</span>
		{{ end }}
	{{ end }}
{{ end }}
