<div class="social">
  <h4>
    {{ with .Site.Social.gitlab }}<a href="https://gitlab.com/u/{{.}}" aria-label="Gitlab"><i class="fa fa-gitlab" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.github }}<a href="https://github.com/{{.}}" aria-label="Github"><i class="fa fa-github" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.linkedin }}<a href="https://linkedin.com/in/{{.}}" aria-label="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.googlescholar }}<a href="https://scholar.google.com/citations?user={{.}}" aria-label="Googlescholar"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.twitter }}<a href="https://twitter.com/{{.}}" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.mastodon }}<a rel="me" href="{{.}}" aria-label="Mastodon"><i class="fa fa-paw" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.keybase }}<a href="https://keybase.io/{{.}}" aria-label="Keybase"><i class="fa fa-key" aria-hidden="true"></i></a>{{ end }}
    {{ with .Site.Social.email }}<a href="mailto:{{.}}" aria-label="Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>{{ end }}
  </h4>
</div>
