<!DOCTYPE HTML>
<!--
	Alexandre PUJOL & pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		{{ with $.Scratch.Get "generalTitle" }}<title>{{ . }}</title>{{ else }}
		{{ with .Title }}<title>{{ . }}</title>
		{{ else }}<title>{{ .Site.Title }}</title>{{ end }}{{ end }}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
		{{ with .Site.Title }}<meta name="author" content="{{ . }}" />{{ end }}
		{{ if ne .Site.Params.description1 "" }}<meta name="description" content="{{ .Site.Params.description1 }} {{ .Site.Params.description2 }} {{ .Site.Params.description3 }}" />{{ end }}
		{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</head>
	<body>
