{{ with .Site.Social.gpgkey }}<li><a href="{{.}}" target="_blank" title="My GPG Key" class="icon fa-key"></a></li>{{ end }}
{{ with .Site.Social.pub }}<li><a href="{{.}}" target="_blank" title="My Publications" class="icon fa-leanpub"></a></li>{{ end }}
{{ with .Site.Social.gitlab }}<li><a href="https://gitlab.com/u/{{.}}" target="_blank" title="Gitlab" class="icon fa-gitlab"></a></li>{{ end }}
{{ with .Site.Social.github }}<li><a href="https://github.com/{{.}}" target="_blank" title="Github" class="icon fa-github"></a></li>{{ end }}
{{ with .Site.Social.linkedin }}<li><a href="https://linkedin.com/in/{{.}}" target="_blank" title="LinkedIn" class="icon fa-linkedin"></a></li>{{ end }}
{{ with .Site.Social.googlescholar }}<li><a href="https://scholar.google.com/citations?user={{.}}" target="_blank" title="Google Scholar" class="icon fa-graduation-cap"></a></li>{{ end }}
{{ with .Site.Social.email }}<li><a href="mailto:{{.}}" title="Email" class="icon fa-envelope"></a></li>{{ end }}
