{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="/images/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Ph.D. Student.</h3>
        <h3>I work in computer security at University College Dublin (Ireland).</h3>
        <br />
        <h3>Have a look at my academic <a href="/research">research</a> and check out my personal <a href="/blog">blog</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Social.email }}">email</a> using my GPG key:</h3>
        <h3><a href="/keys"><code>{{ .Site.Params.fingerprint }}</code></a></h3>
        <br />
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
